.nw-button {
  position: relative;
  background-color: $grey-dark-slate;
  color: $white;
  padding: $padding-components;
  border-radius: $border-radius-components;
  border: 0;
  font-weight: bold;
  z-index: 1;
  transition: box-shadow $transition-time;
  &::before {
    position: absolute;
    content: '';
    border-radius: $border-radius-components;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(90deg, $red 21%, $orange 97%);
    z-index: -1;
    transition: opacity $transition-time;
    opacity: 0;
  }
  &::after {
    position: absolute;
    content: '';
    border-radius: $border-radius-components;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $red;
    z-index: -1;
    transition: opacity $transition-time;
    opacity: 0;
  }
  &:hover {
    cursor: pointer;
    /*background-color: $grey-charcoal;*/
    &::before {
      opacity: 1;
    }
  }
  &:active {
    &::before {
      opacity: 1;
    }
    box-shadow: 0 10px 30px -10px $red;

    &::after {
      opacity: 1;
    }
  }
}